/* GuestLayout.vue */

.application-logo {
    width: var(--font-huger); 
    height: var(--font-huger); 
    object-fit: contain;
    fill: currentColor; 
}

.div-guest {
    min-height:  var(--min-height); 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    padding-bottom: var(--font-current);
}

.name {
    font-size: var(--font-taller); 
    font-weight: 600; 
    color: var(--secondary);
}



/* Login.vue */
.body-login {
    background-color: var(--primary);
}   

.form-class {
    margin-top: var(--spacing-broad);   
}


.div-link {
    display: flex;
    justify-content: center;
    margin-top: var(--spacing-thin);
}

.link-register {
    margin-left: var(--spacing-thinnest);
    color: var(--secondary);
    text-decoration: none;
}

.link {
    color: var(--secondary);
    text-decoration: none;
}


.text-white {
    color: var(--secondary);
    margin-left: var(--spacing-micro);
    font-size: var(--font-shorter);
}

.text-input {
    font-size: var(--font-current);
    line-height: var(--spacing-thin);
    color: var(--primary);
    background-color: var(--secondary);
    width: 100%;
    margin: auto;
    padding-left: var(--spacing-micro);
}

.text-input::placeholder {
    padding-left: var(--spacing-pico); 
}

.inputlabel {
    margin-top: var(--spacing-thin);
}

.checkbox {
    display: block;
    margin-top: var(--spacing-thin);
    margin-right: var(--spacing-thick);

}

.checkbox-label {
    display: flex;
    align-items: center;
    justify-content: center;

}

/* InputLabel.vue */
.input-label{
    display: block;
    font-weight: var(--font-weight-medium);
    font-size: var(--font-shorter);
    color: var(--secondary);
}

/* TextInput.vue */

.input {
    border-color:  var(--secondary);
    box-shadow: var(--box-shadow);
    box-shadow: var(--box-shadow-hover);
    width: 100%;
    margin: auto;
}

.logo-image {
    margin-top:var( --font-tall);
}

/* PrimaryButton.vue */

.input-label2{
    display: block;
    font-size: var(--font-current);
    line-height: var(--spacing-thin);
    border-radius: var(--spacing-nano);
    width: 105%;
    margin: auto;
    color: var(--primary);
    background-color: var(--wine-white);
}


/*  */
/* InputError.vue */

.input-error {
    display: block;
    font-size: var(--font-shorter);
    color: var(--accent-medium);
    margin-top: var(--spacing-nano);    
}

.error-icon{
    color: var(--wine-red);
    font-size: var(--font-tall);
   
}