
/* ============================================================= */

/* GuestRegisterLayout.vue */

.div-guest-register {
    min-height: var(--min-height-2); 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    padding-bottom: var(--spacing-thinnest);
}

.div-guest-register .logo-container {
    align-self: flex-start;
    margin-left: var(--spacing-thin);
}

/* Register.vue */

body {
    overflow: hidden;          /* Ajout de cette ligne */
}

.body-register {
    background-color: var(--accent-lignt-medium);
}

.formreg-class {
    margin-top: var(--font-huge);
}

.formreg-class input {
    margin-bottom: var(--font-tall);
}

.textreg-input {
    font-size: var(--font-current);
    line-height: var(--spacing-thin); 
    border: 1px solid var(--primary); 
    color: var(--primary);
    background-color:var(--secondary);
    margin-left: -60px; 
    width: 200%;
    margin-top: var(--spacing-nono); 
    padding-left: 10px;

}

.textreg-input::placeholder {
    padding-left: var(--spacing-pico); 
}


/* GuestRegisterLayout.vue */

.namereg {
    font-size: var(--font-tallest); 
    font-weight: var(--font-weight-bold); 
    color: var(--primary);
}

/* ApplicationLogoReg.vue */

.logoreg-image {
    width: var(--spacing-broad);
    height: var(--spacing-broad);
    object-fit: contain;
    fill: currentColor; 
}

/* PrimaryRegisterButton.vue */

.input-labelreg {
    display: block;
    font-size: var(--font-current);
    line-height: var(--spacing-thin);
    border: 1px solid var(--accent-medium);
    width: 208%;
    margin-left: var(--letter-spacing-normal);
    color: var(--primary);
    background-color: var(--wine-white);
    margin-top: var(--spacing-nono);
    border-radius: var(--spacing-nano);

}

/* Texarea.vue */
.input-textarea {
        margin-bottom: var(--spacing-thinner);
        margin-top: var(--spacing-nono); 
        display: block; 
        width: 200%;
        border: 1px solid var(--primary); 
        margin-left: var(--letter-spacing-normal);  
}